{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for('edit_page', lang=page.lang, path=page.path) }}" method="post">
        <div><input type="submit" value="Save"></div>
        <div><label for="title">Title</label></div>
        <div>
            <input id="title" name="title" type="text" size="40" value="{{ page.title }}">
        </div>

        <div>
            <textarea id="content" name="content">{{ page.content }}</textarea>
        </div>
    </form>
{% endblock %}
