<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{{ title or "Wikiton" }}</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="left">
    {% block left %}{% endblock %}
</div>
<div class="center">
    <header id="top" class="top">
        <div class="logo">
            <a href="/">{{ title or "Wikiton" }}</a>
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
</body>
</html>